<div class="main-wrapper">
    <div class="main-logo">

      <a href="/" class="banner-link"><div class='camel-text'>camel</div></a>
      <a href="/" class="banner-link"><div class='shop-text'>Shop</div></a>
    </div>
    <ul class="main-nav">
      <li>
        <a href="/cart">Cart</a>
        <div><%= @cart_count%> items</div>
      </li>
      <li><a href="#" >Your Account</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
</div>